{{#each contentItem}}
<div class="shop-container__single-item">
<img src="{{img}}" alt="obrazek">
<div class="shop-container__single-item__data" data-id="{{id}}" data-price="{{price}}">
<p class="single-item__title">{{name}}</p>
<p class="single-item__price">{{price}}</p>
<button class="buy">ADD TO CART</button></div>
</div>
{{/each}}
